<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new product</title>
</head>
<body>
    <h1>add a product</h1>
    <form action="/products" method="post">
        <label for="name">product name</label>
        <input type="text" name="name" id="name" placeholder="product's name"> 
        <label for="price">price(unit)</label>
        <input type="number" name="price" id="price" placeholder="price of product">
        <label for="category">select category</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button>submit</button>
    </form>
</body>
</html>