.main {
    height: 97vh; /* Make sure this covers the full height of the viewport */
    width: 100vw; /* Ensure it covers the full width of the viewport */
    background-image: url('/home/sasidharreddy/dev/web_d/vite/todoapp/to-do-app/src/images/1.jpg');
    background-size: cover; /* Scale the image to cover the entire div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
  }
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_form input{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
}
.create_form button{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 35px;
    padding: 2px 5px 2px 5px;
    margin-top: 2px;
}

.line_through{
    text-decoration: line-through;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox .icon{
    margin-right: 5px;
    font-size: 15px;
}
.task div span{
    margin: 0px 5px 0px 4px;
}
.task div .icon{
    cursor: pointer;
}